node_modules
android/build
android/app/build
ios/build
__tests__
ios/Pods
.expo
.expo-shared
.eslintrc.js
.prettierignore
.prettierrc
dist
build
coverage
.npm
.yarn
*.snap
package-lock.json
yarn.lock

